.close{
   
    display: flex;
   justify-content: right;

}
.closeIcon{
    color: #ffffff;
    font-size: 2rem;
    background-color: var(--blue);
    padding: 0.5rem;
    border-radius: 50%;  
}
.loca{
   /* overflow-y: scroll; */
   font-size: 0.8rem;


}
.location form{
    width: 50%;
    margin: 0.3rem auto;
    /* overflow-y: scroll; */
}

.section{
    margin-bottom: 0.3rem;
}

.section label{
display: block;
margin-bottom: 0.2rem;
}

.section input{
    display: block;
    width: 100%;
    padding: 0.2rem 1rem;
    border-radius: 0.3rem;
    border: 1px solid rgb(187, 186, 186);
}

.current{
    text-align: right;
    color: var(--blue);
    font-size: 0.8rem;
}

.location form button{
    width: 50%;
    margin-top: 0.5rem;
    background:linear-gradient(90deg, var(--red) -24.43%, var(--blue) 60.26%, #CD6504 139.82%);
    text-transform: uppercase;
    padding: 0.3rem 0.5rem;
    border: none;
    border-radius: 0.3rem;
    color: white;
    font-weight: 700;
}