.dashboard{
    display: flex;
}

.nav{
    width: 20%;
    height: 100vh;
    padding: 2rem;
    background-color: #ffffff;
    color: var(--white);
    box-shadow: 1px 1px 15px rgba(0,0, 0, 0.2);
    border-radius: 0.3rem;
    border-radius: 1px 0px 5px rgba(0,0, 0, 0.2);
    border-right: 1px solid var(--gray-text);
}

.other{
    width: 80%;
}

.other header{
    
    width: 100%;
    /* background-color: yellowgreen; */
    border-radius: 1rem;
    margin-bottom: 5vh;
    padding: 1.5rem 2rem;
    box-shadow: 1px 1px 15px rgba(0,0, 0, 0.2);
   
}

.main{
    width: 100%;
    border-radius: 0.3rem;
    box-shadow: 1px 0px 15px rgba(0,0, 0, 0.2);
    min-height: 85%;
    padding: 2rem;
}

@media (max-width:640px){
    .dashboard{
        padding: 0;
        flex-direction: column;
    }
    .nav{
        width: 100%;
        height: fit-content;
        border-radius: 0;
        box-shadow: 1px 1px 15px rgba(0,0, 0, 0.2);
        padding:1rem;
    }

    .main{
        border-radius: 0;
        box-shadow: none;
        padding: 1rem;
    }

    .other{
        width: 100%;
    }
}
