.yearExpen .back{
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 0.5rem;
    padding: 0.3rem 2rem;
    border-radius: 0.3rem;
    color: white;
    background-color: var(--blue);
    margin: 1rem 0;
}

.back p{
    color:white;
}
.yearExpen{
    width: 90%;
    margin: 0 auto;
}

.yearExpen h1{
    font-size: 1.2rem;
}

.total{
    color: var(--gray-text);
    font-weight: 700;
    margin: 1rem 0;
    margin-bottom: 0;
}

.yearExpen h2{
    margin:1rem 0;
    margin-bottom: 0.3rem;
    font-size: 1rem;
}


.years{
    color: white;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    width: fit-content;
    border-radius: 0.3rem;
}

.week{
    font-size: 0.8rem;
    color: #46464f;
}
.amount{
    color: var(--blue);
    font-weight: 700;
}


.list{
    width: 100%;
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;
    overflow-x: scroll;
}

.list .tabheader{
    color: var(--white);
    padding: 2rem 0;
}

.list table{
    width: 100%;
    padding: 0;
    color: #23232f;
}

.list thead{
    padding: 0.5rem;
    color: var(--white);
}


.list thead, .list tbody {
    width: 100%;
    padding: 0.5rem;

}

.list td, .list th{
    padding: 8px;
    text-align: center;
    border: 1px solid var(--gray-text); 
  }

  .delete{
    color: red;
  }

  .button{
    border: none;
    padding: 0.3rem 1rem;
    display: block;
    align-items: center;
    margin: 2rem auto;
    border-radius: 0.5rem;
    background-color: var(--blue);
    color: white;
    font-weight: 700;
  }
  .green{
    color: green;
  }
  .green table, .green table thead{
    color: green;
  }
  .greenButton{
    background-color: green;
  }