.highlights{
    display:grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 2rem;
    gap: 2rem;
}
.operatorHeader{
font-weight: 700;
font-size: 2rem;
text-align: center;
}

.box{
    color: white;
    font-weight: 700;
    padding: 1rem ;
    border-radius: 0.3rem;
    height: 130px;
    box-shadow: 1px 1px 15px rgba(0,0,0,0.2);
    background-color: #ffffff;
}

.box h1{
font-size:2rem;
color: var(--white);
}

.box p{
    margin-top: 2rem;
    font-size: 1rem;
}

.list{
    width: 100%;
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;
    overflow-x: scroll;
}

.list .tabheader{
    color: var(--white);
    padding: 2rem 0;
}

.list table{
    width: 100%;
    padding: 0;
    color: #23232f;
}

.list thead{
    padding: 0.5rem;
    color: var(--white);
}

.redBackground{
    background-color:tomato;
    color: white;
  }
.list thead, .list tbody {
    width: 100%;
    padding: 0.5rem;

}

.list td, .list th{
    padding: 8px;
    text-align: center;
    border: 1px solid var(--gray-text); 
    cursor: pointer;
  }

  
  

/* .redRow{
    background-color: rgb(238, 132, 114);
} */

.notice{
    width: 100%;
    padding: 0.5rem;
    color: red;
    background-color: rgb(243, 169, 156);
    border-radius: 0.4rem;
}

@media(max-width:700px){
    .highlights{
        width: 100%;
        padding: 0;
    }
    .box{
        width: 100%;
    }
}