.wrapper{
    height: 100vh;
    padding-top: 4rem;
}

.tgap{
    padding-top: 4rem;
}

.formContainer{
    margin: 0 auto;
    width: 30%;
}
.formContainer h2{
text-align: center;
font-weight: 700;
font-size: 2rem;
}
.form label{
    display: block;
    margin-top:1rem;
    color: #23232f;
}
.form input{
    width: 100%;
    border: 1px solid gray;
    padding: 0.5rem 1rem;
    outline: none;
    margin-bottom: 0.5rem;
    border-radius: 0.3rem;
    background-color: #ffffff;
    border: 1px solid rgb(187, 186, 186);
    color: #23232f;
    outline: none;
}

.form button{
    display: block;
    width: 100%;
    margin: 1.5rem auto;
    padding: 0.4rem 1rem;
    background-color: var(--blue);
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: uppercase;
    border-radius: 0.3rem;
    color: white;
}

@media (max-width:640px) {
    .wrapper{
        padding: 0;
    }
    .formContainer{
        width: 90%;
        margin: 0 auto;
        /* margin-top: 4rem; */
    }
}