
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*, *::before, *::after {
box-sizing: border-box;
}
* {
 margin: 0;
--blue:#3F4AF3;
--white:#171719;
--gray-text:#23232f;
--dark-gray:#433d3d;
--background:#ffffff;
}
html, body {
height: 100%;
font-family: 'Open Sans', sans-serif;
background-color:var(--background);
color: rgb(27, 27, 27);
}
body {
line-height: 1.5;
-webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}
input, button, textarea, select {
font: inherit;
}
 h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
color: var(--white);
}

p{
  color: var(--gray-text);
  overflow-wrap: break-word;

}

table{
  width: 100%;
  padding: 0;
  color: #23232f;
} 
thead{
  padding: 0.5rem;
  color: var(--white);
}


thead, tbody {
  width: 100%;
  padding: 0.5rem;

}

td,  th{
  padding: 8px;
  text-align: center;
  border: 1px solid var(--gray-text); 
}




/* print.css */

@media print {
    body {
      font-family: Arial, sans-serif;
    }
  
    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
    }
  
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }
  
    th {
      background-color: #f2f2f2;
    }
  
    /* Hide all elements with the class 'no-print' when printing */
    .no-print {
      display: none;
    }
  }
  .printButton{
    color: rgb(180, 178, 178);
    /* padding: 1rem 0; */
    /* margin-top: 1rem; */
    /* padding:0.5rem 2rem ;
    border-radius: 0.2rem;
    background-color: #345FF6;
    color: white;
    font-weight: 700;
    padding: 0.3rem 2rem;
    border-radius: 0.3rem;
    color: white;
    background-color: var(--blue);
    margin-bottom: 2rem; */
  }

  @media(max-width:750px){
   body{
    font-size: 0.8rem;
   }
  }