
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url("https://api.fontshare.com/v2/css?f[]=satoshi@400,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
box-sizing: border-box;
}
* {
 margin: 0;
--blue:#3F4AF3;
--white:#171719;
--gray-text:#23232f;
--dark-gray:#433d3d;
--background:#ffffff;
   /* --orange-normal: #DD5928; */
      --orange-normal: #0D5B10;
   --orange-light: #FCEEEA;
   --orange-light-hover: #FAE6DF;
   --orange-light-active: #F4CCBC;
   --orange-normal-hover: #C75025;
   --orange-normal-active: #b14720;
   --orange-dark:#a6431e;
   --orange-dark-hover:#853518;
   --orange-dark-active:#632812;
   --orange-darker:#4d1f0e;
   --paragraph-text: #444444;
   --grey-normal: #6E6F71;
   --grey-normal-hover: #636466;
   --grey-normal-active: #58595a;
   --light-grey:#f1f1f1;
   --light-grey-hover:rgb(210, 210, 211);
   --radius: 10px;
   --darker-grey: #272728;
   --dark-grey: #535355;
   --light-grey-active:#D2D2D3;
}
html, body {
height: 100%;
font-family: "Satoshi", sans-serif !important;
background-color:var(--background);
color: rgb(27, 27, 27);
}
body {
line-height: 1.5;
-webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}
input, button, textarea, select {
font: inherit;
}
 h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
color: var(--white);
}

p{
  color: var(--gray-text);
  overflow-wrap: break-word;

}

table{
  width: 100%;
  padding: 0;
  color: #23232f;
} 
thead{
  padding: 0.5rem;
  color: var(--white);
}


thead, tbody {
  width: 100%;
  padding: 0.5rem;

}

td,  th{
  padding: 8px;
  text-align: center;
  border: 1px solid var(--gray-text); 
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}




/* print.css  */

@media print {
    body {
      font-family: Arial, sans-serif;
    }
  
    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
    }
  
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }
  
    th {
      background-color: #f2f2f2;
    }
  
    /* Hide all elements with the class 'no-print' when printing  */
    .no-print {
      display: none;
    }
  }
  .printButton{
    margin-top: 1rem; 
    background-color:#DD5928 ;
    font-weight: 700;
    padding: 0.3rem 2rem;
    border-radius: 0.3rem;
    color: white;
    margin-bottom: 2rem; 
    outline: none;
     border: none;
  }

  @media(max-width:750px){
   body{
    font-size: 0.8rem;
   }
  }

