.item{
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    border-radius: 0.3rem;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
}

.info{
    display: flex;
    gap:2rem
}

.edit{
    background-color: #478c28;
    padding: 0.3rem 2rem;
    border-radius: 0.3rem;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.action{
    display: flex;
    gap: 1rem;
    color: white;
}

.delete{
     background-color: #d93250;
    padding: 0.3rem 2rem;
    text-transform: uppercase;
    border-radius: 0.3rem;
    display: none;
}

.pagination{
    display: flex;
    justify-content: space-between;
}