.list{
    width: 100%;
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;
    color: #343A46;
    background-color:rgb(245, 245, 245) ;
}

.list table{
    width: 100%;
    
}

.list thead{
    background-color:var(--blue);
    padding: 1rem;
    color: white;
}

.list thead, .list tbody {
    width: 100%;
    padding: 1rem;

}

.list td, .list th{
    /* width: 100%; */
    padding: 8px;
    text-align: center
  }
  
 
  /* .list tbody tr:nth-child(odd){
     background-color: var(--blue);
     color: white;
  
  } */
.tabheader{
    padding: 1rem 2rem;
    color: var(--pale-red);
}