.form{
    margin: 2rem 0;
}
.form h3{
margin: 0 auto;
color: white;
width: fit-content;
background:var(--blue);
padding: 0.5rem 2rem;
border-radius: 0.3rem;
}

.forms{
    width: 60%;
    margin: 0 auto;
    margin-top: 2rem;
    color: var(--electric-blue);
}

.forms h2{
    text-align: center;
    font-size: 1.5rem;
    color: var(--gunmetal);
    text-decoration: underline;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.section{
    margin-bottom: 1rem;
}

.section label{
display: flex;
margin-bottom: 0.3rem;
}

.section input{
   
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    border: 1px solid rgb(187, 186, 186);
}

.section select{
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    border: 1px solid rgb(187, 186, 186);
}

.button{
    display: flex;
    justify-content: right;
}

.forms button{
    width: 50%;
    margin-top: 1rem;
    background:var(--blue);
    text-transform: uppercase;
    padding: 0.5rem;
    border: none;
    border-radius: 0.3rem;
    color: white;
    font-weight: 700;
    
    
}


.errors{
    font-weight: 100;
    color: var(--pale-red);
    padding-top: 0.2rem;
}

@media(max-width:640px){
    .forms{
        width: 100%;
    }
}