
.navDisplay{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
.header{
    width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
}
.header h1{
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
}
.menu{
    display: none;
}
.header hr{
    margin: 1rem 0;
    border: 1px solid rgba(186, 182, 182, 0.915);
}
.nav{
    margin-top: 2rem;
}
.section{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    gap: 0.3rem;
}

.link{
    text-decoration: none;
    color:white ;
}

.logout{
    margin-top: 2rem;
    background-color: var(--red);
    width: 100%;
    border-radius: 0.3rem;
    padding: 0.3rem 1rem;
    color: white;
}

.icons{
    font-size: 1.5rem;
    color: white;
}
.phoneNav{
    display: none;
}

@media (max-width:640px){
    .navDisplay{
        flex-direction: row;
    }
    .menu{
        display: block;
    }
    .nav{
        display: none;
    }
    .phoneNav{
        display: block;
    }
}