.list{
    width: 100%;
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;
    color: #343A46;
    background-color:rgb(245, 245, 245) ;
    padding: 1rem;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch
}

.list table{
    width: 100%;
   
}

.list thead, .list tbody {
    width: 100%;
}

.list td, .list th{
    /* width: 100%; */
    padding: 8px;
    text-align: center
  }
  
 
  .list tbody tr:nth-child(odd){
     background-color: var(--blue);
     color: white;
  
  }

  .action{
    display: flex;
  }

  @media(max-width:640px){
    .list{
        padding: 0.2rem;
    }
    .list table{
overflow: scroll;    }
  }
 