.list{
  width: 100%;
  border-collapse: collapse;
  border-radius: 15px;
  overflow: hidden;
  color: var(--electric-blue);
  overflow-x: scroll;
}

.list table{
  width: 100%;
  padding: 0;
  color: #23232f;
}

.list thead{
  padding: 0.5rem;
  color: var(--white);
}

.list thead, .list tbody {
  width: 100%;
  padding: 0.5rem;

}

.list td, .list th{
  padding: 8px;
  text-align: center;
  border: 1px solid var(--gray-text); 
}
  
.delete{
  color:var(--orange-normal);
  background-color: var(--orange-light);
}

.action{
  display: flex;
  gap: 0.5rem;
}
.edit{
  color:var(--orange-normal);
  background-color: var(--orange-light);
}


.tabheader{
  padding: 1rem 2rem;
  color: var(--gunmetal);
}

  @media(max-width:640px){
    .list{
        padding: 0.2rem;
    }
    .list table{
overflow: scroll;    }
  }
 