.back{
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 0.5rem;
    padding: 0.3rem 2rem;
    border-radius: 0.3rem;
    color: white;
    background-color: var(--blue);
}

.location h2{
    text-align: center;
    color: var(--gunmetal);
    font-size: 2rem;
    text-decoration: underline;
    font-weight: 700;
}

.location form{
    width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    color: var(--electric-blue);
}

.section{
    margin-bottom: 1rem;
}

.section label{
display: block;
margin-bottom: 0.3rem;
}

.section input{
margin-bottom: 0.3rem;
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    border: 1px solid rgb(187, 186, 186);
    background-color: #202020;
    border: 1px solid rgb(187, 186, 186);
    color: rgb(215, 212, 212);
}

.current{
    text-align: right;
    color: rgb(143, 74, 74);
    font-size: 0.8rem;
}

.location form button{
    width: 50%;
    margin-top: 0.5rem;
    background:var(--blue);
    text-transform: uppercase;
    padding: 0.5rem;
    border: none;
    border-radius: 0.3rem;
    color: white;
    font-weight: 700;
}
.end{
    display: none;
}

@media(max-width:640px){
    .location form{
        width: 90%;
        grid-template-columns: 1fr;
    gap: 0.5rem;
    }
}