.back{
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 0.5rem;
    padding: 0.3rem 2rem;
    border-radius: 0.3rem;
    color: white;
    background-color: var(--blue);
    margin-bottom: 2rem;

}

.select{
    padding: 0.5rem 2rem;
    border: 1px solid rgb(69, 69, 69);
    margin-bottom: 2rem;
}
.table{
    width: 100%;
    border-collapse: collapse;
    border-radius: 15px;
    /* overflow: hidden; */
    overflow-x: scroll;

    color: var(--electric-blue);
    /* background-color:rgb(245, 245, 245) ; */
}
.table{
    width: 100%;
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
}

.table thead, .table tbody {
    width: 100%;
}

.table td, .table th{
    /* width: 100%; */
    padding: 8px;
    text-align: center
}