.close{
   
    display: flex;
   justify-content: right;

}
.back{
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 0.5rem;
    padding: 0.3rem 2rem;
    border-radius: 0.3rem;
    color: white;
    background-color: var(--blue);
    margin-bottom: 2rem;
}
.backPrint{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.closeIcon{
    color: #ffffff;
    font-size: 2rem;
    background-color: var(--blue);
    padding: 0.5rem;
    border-radius: 50%;  
}

.table{
    width: 100%;
    
}

.table thead{
    color: var(--dark-gray);
    padding: 1rem;
}

.table thead, .table tbody {
    width: 100%;
    padding: 1rem;

}

.table td, .table th{
    padding: 8px;
    text-align: center;
    border: 1px solid #D8E2E7; 
  }


  