.list{
    width: 100%;
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;
    color: #343A46;
    padding: 0rem;
    width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch
}

.years{
    color: #23232f;
    padding: 0.5rem;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    width: fit-content;
    border-radius: 0.3rem;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}
.amount{
    color: var(--electric-blue);
    font-weight: 700;

}

.month{
    padding: 1rem 0;
}

.list{
  width: 100%;
  border-collapse: collapse;
  border-radius: 0.4rem;
  overflow: hidden;
  overflow-x: scroll;
}

.list .tabheader{
  color: var(--white);
  padding: 2rem 0;
}

.list table{
  width: 100%;
  padding: 0;
  color: #23232f;
}

.list thead{
  padding: 0.5rem;
  color: var(--white);
}


.list thead, .list tbody {
  width: 100%;
  padding: 0.5rem;

}

.list td, .list th{
  padding: 8px;
  text-align: center;
  border: 1px solid var(--gray-text); 
}
  
  .seeAllDiv{
    display: flex;
    gap: 2rem;
    align-items: center;
  }
  .seeAllDiv p{
    color: var(--blue);
    font-size: 0.8rem;
    cursor: pointer;
  }
  

  .balance{
    color: var(--red);
  }

  .list{
    width: 100%;
    border-collapse: collapse;
    border-radius: 15px;
    overflow-x: scroll;
    color: var(--electric-blue);
}

.printer{
  color: var(--blue);
}

  .delete{
    color: red;
  }
  
.tabheader{
    padding: 1rem 2rem;
    color: var(--gunmetal);
}