.back{
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 0.5rem;
    padding: 0.3rem 2rem;
    border-radius: 0.3rem;
    color: white;
    background-color: var(--red);
}

.assert h2{
    text-align: center;
    color: var(--blue);
    font-size: 2rem;
    text-decoration: underline;
    font-weight: 700;
}

.actions{
    margin:2rem auto;
    display: flex;
    width: fit-content;
}

.actionbtn{
    background-color: var(--pale-red);
    padding: 0.5rem 2rem;
    justify-content: space-between;
    color: white;
    margin-right: 2rem;
    border-radius: 0.3rem;
}

.summary{
    margin: 3rem 0;
}

.emphasis{
    color: var(--blue);
    font-weight: 700;
    font-size: 1.2rem;
}